import /system/etc/init/init.safailnet.rc

on init

    # set default schedTune value for foreground/top-app
    # Set default values for foreground and top-app stune
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Mask up legacy PowerHAL
    mount none /system/etc/fs_none /vendor/bin/hw/android.hardware.power@1.2-service bind
    mount none /system/etc/fs_none /vendor/etc/init/android.hardware.power@1.2-service.rc bind
    mount none /system/etc/fs_none /vendor/etc/powerhint.xml bind

    # Add a cpuset for the camera daemon
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

    # Create an stune group for the camera-daemon
    mkdir /dev/stune/camera-daemon
    write /dev/stune/camera-daemon/schedtune.prefer_idle 1
    write /dev/stune/camera-daemon/schedtune.boost 0
    chown system system /dev/stune/camera-daemon
    chown system system /dev/stune/camera-daemon/tasks
    chmod 0660 /dev/stune/camera-daemon/tasks

on boot
    write /sys/class/thermal/thermal_message/sconfig 10

on property:vendor.post_boot.parsed=1
    # Enable powersaving
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100

    # Disable sched stats
    write /proc/sys/kernel/sched_schedstats 0

on property:sys.boot_completed=1  
    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

service citsensor-hal-1-1  /vendor/bin/hw/vendor.xiaomi.hardware.citsensorservice@1.1-service
    override
    class late_start
    user system
    group system input wakelock

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled

service vendor.power-hal-1-2 /system/bin/true
    disabled

service iop-hal-2-0 /system/bin/true
    disabled

service perf-hal-2-0 /system/bin/true
    disabled

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag
