import /system/etc/init/init.safailnet.rc

on init

    # set default schedTune value for foreground/top-app
    # Set default values for foreground and top-app stune
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

    mount none /dev/null /vendor/bin/hw/android.hardware.power@1.2-service
    mount none /dev/null /vendor/etc/init/android.hardware.power@1.2-service.rc

on boot
    write /sys/class/thermal/thermal_message/sconfig 10

on property:vendor.post_boot.parsed=1

    # Enable powersaving
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # Enable idle state listener
    write /sys/class/drm/card0/device/idle_encoder_mask 1
    write /sys/class/drm/card0/device/idle_timeout_ms 100

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

service citsensor-hal-1-1  /vendor/bin/hw/vendor.xiaomi.hardware.citsensorservice@1.1-service
    override
    class late_start
    user system
    group system input wakelock

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled

service vendor.power-hal-1-2 /system/bin/true
    disabled

service iop-hal-2-0 /system/bin/true
    disabled

service perf-hal-2-0 /system/bin/true
    disabled
